@model FilmTicketReservation.Models.OrderDetail
@{
    ViewData["Title"] = "Order";
}

<h1>Your order</h1>

 <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieSeat" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="MovieTitle" class="control-label"></label>
                <!-- <input asp-for="MovieTitle" class="form-control" /> -->
                <select asp-for="MovieTitle" class="form-control" asp-items="ViewBag.Movies"></select>
                <span asp-validation-for="MovieTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat" class="control-label"></label>
                <select asp-for="Seat" class="form-control" asp-items="ViewBag.MovieSeat"></select>
                <span asp-validation-for="Seat" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="MoviePrice" class="control-label"></label>
                <input asp-for="MoviePrice" class="form-control" />
                <span asp-validation-for="MoviePrice" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div> 
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

